<section class="vh-100">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">

      <!-- Form Card -->
      <div class="col-md-10 col-lg-8">
        <div class="card shadow border-0 p-0 overflow-hidden rounded-4">
          <div class="row g-0 h-100">

            <!-- Left image with border -->
            <div class="col-md-6 left-section border-end">
              <img src="https://img.freepik.com/free-vector/verified-concept-illustration_114360-5167.jpg?ga=GA1.1.545914860.1720880628&semt=ais_hybrid&w=740"
                   class="img-fluid h-100 w-100 object-fit-cover" alt="Login image">
            </div>

            <!-- Right form with padding and border -->
            <div class="col-md-6 right-section">
              <div class="card-body p-4">
                <form>


                  <div class="divider d-flex align-items-center my-4">
                    <span class="text-muted fw-bold mx-3">Sign Up</span>
                  </div>

                  <div class="form-outline mb-3">
                    <input [(ngModel)]="name" name="name" placeholder="Enter name" required  id="username" class="form-control"  required />
                    <label class="form-label" for="email">Username</label>
                  </div>
                  <!-- Email -->
                  <div class="form-outline mb-3">
                    <input [(ngModel)]="email" name="email" placeholder="Enter email" required  id="username" class="form-control"  required />
                    <label class="form-label" for="email">Email address</label>
                  </div>

                  <!-- Password -->
                  <div class="form-outline mb-3">
                    <input [(ngModel)]="password" name="password" type="password" placeholder="Enter password" class="form-control"  required />
                    <label class="form-label" for="password">Password</label>
                  </div>



                  <div class="text-center">
                    <button  class="btn btn-primary w-100 mb-3" (click)="onSignup()">Registration</button>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<!--
<div class="container">
  <div class="background">
    <div class="background">
      <div class="shape top-left"></div>
      <div class="shape top-right"></div>
      <div class="shape bottom-left"></div>
      <div class="shape bottom-right"></div>
    </div>
  </div>
  <form>
    <h3>Signup Here</h3>

    <label for="username">Name</label>
    <input [(ngModel)]="name" name="name" placeholder="Enter name" required  required  id="username">

    <label for="password">Email</label>
    <input [(ngModel)]="email" name="email" placeholder="Enter email" required requiredid="password">

    <label for="password">Password</label>
    <input [(ngModel)]="password" name="password" type="password" placeholder="Enter password" requiredid="password">

    <button (click)="onSignup()">Signup</button>

  </form>
  </div> -->
